html {
    font-size: 20px;
}
body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    color: black;
    padding: 1.5rem 0;
}
header, main {
    max-width: 40.9rem;
    margin: 0 auto;
}
h1 {
    font-size: 2rem;
}
main {
    padding: 2.5rem 1rem;
    color: blue;
    font-weight: bold;
    border: 0.1rem solid rgb(164, 153, 144);
}


.accordion-container {
    background-color: rgb(255, 245, 234);
    margin-bottom: 0.5rem;
}
.accordion-container:last-child {
    margin-bottom: 0;
}
input {
    appearance: none;
}
label {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
span {
    display: none;
    transition: transform 0.3s ease-in-out;
    margin: 1.5rem 1.1rem;
}
p {
    padding: 0 0 1rem 1rem;
}
.accordion-content {
    display: block;
    text-align: center;
    max-height: 0rem;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
.accordion-content img{
    max-height: 19.5rem;
    max-width: 80%;
}
.accordion-content img:hover {
    animation: img-hover-animation 0.6s;
    animation-iteration-count: infinite;
}


/* Hover effects */

main:hover {
    color: black;
    cursor: pointer;
}
main:hover span {
    display: block;
}
.accordion-container:hover .accordion-content, input:checked ~ .accordion-content {
    max-height: 20rem;
}
.accordion-container:hover span, input:checked ~ label span {
    transform: rotate(135deg);
    display: block;
}
input:checked ~ label p, input:checked ~ label span {
    color: black;
}
.accordion-container:active {
    opacity: 0.6;
}
.accordion-container:active span, .accordion-container:active label p {
    color: blue;
}


/* Adaptive */
@media screen and (max-width: 820px) {
    html {
        font-size: 16px;
    }
    body {
        background-color: rgb(240, 217, 203);
    }
}
@media screen and (max-width: 568px) {
    html {
        font-size: 12px;
    }
    body {
        background-color: rgb(229, 182, 182);
    }
}


/* Animation */
@keyframes img-hover-animation {
    0%, 20%, 40%, 60%, 80%, 100% {
        transform: rotate(-1deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(1deg);
    }
}